html, body {
  height: 100%;
  width: 100%;
  background-color: gray;
  margin: 1em 1em 2em 1em;
}

h1 {
  background-color: #F5F5F5;
  text-align: center;
  font-style: bold;
  font-size: 4em;
  color: black;
  padding: .113em;
}

.flow {
  display: flex;
  flex-flow: column;
}

h2, h3 {
  font-size: 2.75em;
  line-height: 1.5em;
  font-weight: 400;
  color: #F5F5F5;
}

@media screen and (max-width: 480px) {
    h2, h3 {
      font-size: 2em;
      line-height: 1em;
      font-weight: 400;
      color: #F5F5F5;
    }
}

.wrap {
  display: flex;
  align-items: center;
  padding-bottom: 2%;
  padding-top: 2%;
  text-align: left;
}

.padded {
  border-radius: 50%;
  border: transparent;
  box-shadow: 5px 5px #F5F5F5;
  margin-bottom: 2em;

}

.centered {
  display: flex;
  align-items: center;
  text-align: center;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: left;
  color: black;
  font-size: 2em;
}

@media screen and (min-width: 1000px) {
  .flipped {
    display: flex;
    flex-direction: row-reverse;
  }
}

ul > li > a {
  font-size: 2em;
  padding-right: 1.5em;
  color: #F5F5F5
}


.links {
  font-size: 2.5em;
  padding-right: 1em;
  color: #F5F5F5
}

.navbar-light .navbar-nav .nav-link {
  color: #F5f5f5;
}

.mobile-link-align-right {
  text-align: right;
}
