html, body {
  height: 100%;
  width: 100%;
  background-color: gray;
}

h1 {
  background-color: #F5F5F5;
  text-align: center;
  font-style: bold;
  font-size: 4em;
  color: black;
  padding: .113em;
}

h2, h3 {
  font-size: 2.75em;
  line-height: 1.5em;
  font-weight: 400;
  color: #F5F5F5;
}

.space_up_top {
  margin-top: 2em;
}

.less_space_up_top {
  margin-top: 0.5em;
}

.my_pic {
  display: flex;
  border-radius: 50%;
  border: transparent;
  box-shadow: 5px 5px #F5F5F5;
  margin: 0 auto;
  width: 275px;
}

.flow {
  display: flex;
  flex-flow: column;
}

.link_alignment {
  display: flex;
  align-items: center;
  margin-left: 10%
}

.github {
  width: 40%;
}

@media screen and (min-width: 370px) and (max-width: 480px) {
  h2, h3 {
    padding-top: .5em;
  }
  /*div {
    margin-left: 2%;
    margin-right: 2%;
  }*/
  .my_pic {
    width: 200px;
  }
  .link_alignment {
    display: flex;
    align-items: left;
    margin-left: 25%;
  }
  .github {
    width: 25%;
  }
  .links {
    font-size: 2.5em;
    padding-right: 1em;
    color: #F5F5F5
  }
}

@media screen and (min-width: 660px) and (max-width: 750px) {
  .link_alignment {
    display: flex;
    align-items: left;
    margin-left: 0;
  }
  .github {
    width: 40%;
    margin-left: 25%;
  }
}
@media screen and (min-width: 750px) and (max-width: 768px){
  .link_alignment {
    display: flex;
    align-items: left;
    margin-left: 5%;
  }
  .github {
    width: 40%;
    margin-left: 15%;
  }
}

@media screen and (min-width: 1000px) {
  .flipped {
    display: flex;
    flex-direction: row-reverse;
  }
  .github {
    width: 40%;
    margin-left: -25%;
  }
}

.wrap {
  display: flex;
  align-items: center;
  padding-bottom: 2%;
  padding-top: 2%;
  text-align: left;
}

.centered {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: .5em;
}


p {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: left;
  color: black;
  font-size: 2em;
}

.navbar-light .navbar-nav .nav-link {
  color: #F5f5f5;
}

.links {
  font-size: 2.5em;
  padding-right: 1em;
  color: #F5F5F5
}

ul > li > a {
  font-size: 2em;
  padding-right: 1.5em;
  color: #F5F5F5
}

footer {
  font-size: .75em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 3em;
}

.center_forms {
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
}

.thanks {
  width: 50%;
  display: block;
  margin: 0 auto;
}
