{% extends "base.html" %}

    {%block title %} My Hobby Page {% endblock %}

    {% block content %}

    {% block nav %}
      <style type="text/css">
      .not_bjj { display: none;}
      </style>
    {% endblock %}

    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-sm-5">
          <!-- class="col-xs-12 col-sm-4" -->
          <h1>
            I'm deadly bro!
          </h1>
        </div>
        <div class="col-xs-6 col-sm-9">
          <!-- class="col-xs-12 col-sm-4" -->
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- class="col-xs-12 col-sm-4" -->
          <p>
            I've been training Brazillian Jiujitsu(BJJ) for around three years now. I'm currently a three-stripe blue belt,
            so sorry, not a black belt yet! There are five belts in the BJJ belt system. They are: white, blue, purple, brown and black.
            Getting a black belt takes most people around 10 years to achieve, so it's definitely not a short-term goal.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <picture>
            <img src="/static/img/IMG_0853.JPG" style="width:100%;">
            <!-- <source media="(min-width: 650px)" srcset="IMG_0853.JPG">
            <source media="(min-width: 465px)" srcset="7ded.jpg"> -->
          </picture>
        </div>
        <div class="col-xs-12 col-sm-8">
          <h3>
            No, I'm not wearing pajamas. That's a gi!
          </h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="wrap row flipped">
        <div class="col-xs-0 col-sm-6">
          <picture>
            <img src="/static/img/IMG_0635.JPG" style="width:100%;">
            <!-- <source media="(min-width: 650px)" srcset="IMG_0635.JPG">
            <source media="(min-width: 465px)" srcset="IMG_0635.JPG"> -->
          </picture>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3>
            I'm really into Jiujitsu, sometimes I even practice moves on my dog!
          </h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="wrap row">
        <div class="col-xs6 col-sm-6">
          <picture>
            <img src="/static/img/IMG_0642.JPG" style="width:100%;">
            <!-- <source media="(min-width: 650px)" srcset="IMG_0642.JPG">
            <source media="(min-width: 465px)" srcset="IMG_0642.JPG"> -->
          </picture>
        </div>
        <div class="col-xs-6 col-sm-6">
          <h3>
            We have competitions in Jiujitsu too.
          </h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="wrap row flipped">
        <div class="col-xs-6 col-sm-6">
          <picture>
            <img src="/static/img/medal.jpg" style="width:100%;">
            <source media="(min-width: 650px)" srcset="medal2.jpg">
            <source media="(min-width: 465px)" srcset="medal2.jpg">
          </picture>
        </div>
        <div class="col-xs-6 col-sm-6">
          <h3>
            I got the 3rd place medal in my first competition. Not bad for a first-timer!.
          </h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="centered" class="row">
        <div class="col-xs-12 col-sm-12">
          <picture>
            <img src="/static/img/group.jpg" style="width:101.5%;">
            <!-- <source media="(min-width: 650px)" srcset="17201208_10203269697860900_8502158779720950636_n.JPG">
            <source media="(min-width: 465px)" srcset="17201208_10203269697860900_8502158779720950636_n.jpg"> -->
          </picture>
          <h3>
            Why not give it a try?
          </h3>
        </div>
      </div>
    </div>
    {% endblock %}
