{% extends "base.html" %}

    {%block title %} My Hobby Page {% endblock %}

    {% block content %}

      {% block nav %}
        <style type="text/css">
        .not_contact { display: none;}
        </style>
      {% endblock %}

      <div class="center_forms">
        <form action='' method='POST'>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required name="email" width="50%">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="exampleFirstName1">First Name</label>
                <input type="text" class="form-control" id="exampleFirstName1" aria-describedby="first_nameHelp" placeholder="First name" required name="first_name">
              </div>
              <div class="col">
                <label for="exampleLastName1">Last Name</label>
                <input type="text" class="form-control" id="exampleLastName1" aria-describedby="last_nameHelp" placeholder="Last name" required name="last_name">
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  Check me out
                </label>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>

    {% endblock %}
