{% extends "base.html" %}

    {%block title %} My Hobby Page {% endblock %}

    {% block content %}

    {% block nav %}
      <style type="text/css">
      .not_gaming { display: none;}
      </style>
    {% endblock %}

    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-6">
          <h1 class="landscape-h1">
            I'm a nerd...
          </h1>
        </div>
        <div class="col-xs-6 col-sm-6">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>
            I'm into all kinds of geeky stuff. I love gaming, watching Star-Trek and Dragonball Z, and a lot more shows...Firefly anyone?
            I read comic books, and catch every Marvel movie in the theater. I basically dig anything you'd find in your average episode
            of the Big Bang Theory.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-6">
          <picture>
            <img src="/static/img/IMG_0667.JPG" style="width:100%;">
            <!-- <source media="(min-width: 650px)" srcset="IMG_0853.JPG">
            <source media="(min-width: 465px)" srcset="7ded.jpg"> -->
          </picture>
        </div>
        <div class="col-xs-0 col-sm-12 col-lg-6">
          <h3>
            Just thinking about how awesome it would be to take this bad boy home.
          </h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="wrap row flipped">
        <div class="col-xs-0 col-sm-12 col-lg-6">
          <picture>
            <img src="/static/img/IMG_0968.JPG" style="width:100%;">
            <!-- <source media="(min-width: 650px)" srcset="IMG_0635.JPG">
            <source media="(min-width: 465px)" srcset="IMG_0635.JPG"> -->
          </picture>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-6">
          <h3>
            Hey Bub. SNIKT! My favorite X-Man is Wolverine, which shouldn't be a surprise. Can you guess why?
          </h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="wrap row">
        <div class="col-xs6 col-sm-12 col-lg-6">
          <picture>
            <img src="/static/img/IMG_1074.JPG" style="width:100%;">
             <!-- <source media="(min-width: 650px)" srcset="IMG_0642.JPG">
            <source media="(min-width: 465px)" srcset="IMG_0642.JPG"> -->
          </picture>
        </div>
        <div class="col-xs-6 col-sm-12 col-lg-6">
          <h3>
            What's that? You've never beaten Super Mario World on the SNES?? I have!
          </h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="wrap row flipped">
        <div class="col-xs-6 col-sm-12 col-lg-6">
          <picture>
            <img src="/static/img/fallout.jpg" style="width:100%;">
            <!-- <source media="(min-width: 650px)" srcset="17201208_10203269697860900_8502158779720950636_n.JPG">
            <source media="(min-width: 465px)" srcset="17201208_10203269697860900_8502158779720950636_n.jpg"> -->
          </picture>
        </div>
        <div class="col-xs-6 col-sm-12 col-lg-6">
          <h3>
            Fallout is another of my favorites. Gotta love some post-apocolyptic adventuring!
          </h3>
        </div>
      </div>
    </div>
    {% endblock %}
