{% extends "base.html" %}

    {%block title %} My Hobby Page {% endblock %}

    {% block content %}

    {% block nav %}
      <style type="text/css">
      .not_display { display: none;}
      </style>
    {% endblock %}


    <div class="container">
      <!-- <div class="row">
        <div class="col-xs-12 col-sm-4"> -->
        </div>
        <div class="col-xs-12 col-sm-12">
          <!-- class="col-xs-12 col-sm-4" -->
          <picture>
            <img class="padded" src="/static/img/rounded.png" style="width:375px;">
            <!-- <source media="(min-width: 650px)" srcset="IMG_0853.JPG">
            <source media="(min-width: 465px)" srcset="7ded.jpg"> -->
          </picture>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
          </div>
          <div class="col-xs-12 col-sm-10">
            <h1>
              How are you doing?
            </h1>
          </div>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="flow col-xs-0 col-sm-2">
      </div>
      <div class="flow col-xs-12 col-sm-10">
        <p>
          My name is Logan, and I'm a pretty
          complex guy. I have all sorts of interests! They include:
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="wrap-tablet row">
        <div class="col-xs-12 col-sm-3">
          <a class="links" href="page/hiking.html">Hiking</a>
        </div>
        <div class="col-xs-12 col-sm-3">
          <a class="links" href="page/gaming.html">Gaming</a>
        </div>
        <div class="col-xs-12 col-sm-3">
          <a class="shift links" href="page/travel.html">Travel</a>
        </div>
        <div class="col-xs-12 col-sm-3">
          <a class="shift links" href="page/bjj.html">Jiujitsu</a>
        </div>
    </div>
  {% endblock %}
