{% extends "base.html" %}

    {%block title %} My Hobby Page {% endblock %}

    {% block content %}

    {% block nav %}
      <style type="text/css">
      .not_travel { display: none;}
      </style>
    {% endblock %}

    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-6">
          <h1 class="landscape-h1">
            Explore the world!
          </h1>
        </div>
        <div class="col-xs-6 col-sm-6">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>
            No matter what corner of the world you're from, I want to visit it! Regardless of your
            country of origin, native tongue or cultural upbringing, we are all just people. We have
            so much to learn from each other!
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-6">
          <picture>
            <img src="/static/img/from_top.jpg" style="width:100%;">
            <!-- <source media="(min-width: 650px)" srcset="IMG_0853.JPG">
            <source media="(min-width: 465px)" srcset="7ded.jpg"> -->
          </picture>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-6">
          <h3>
            Check out the view from the observation deck of Taipei 101, former tallest building in the world!
          </h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="wrap row flipped">
        <div class="col-xs-0 col-sm-12 col-lg-6">
          <picture>
            <img src="/static/img/bridge.jpg" style="width:100%;">
            <!-- <source media="(min-width: 650px)" srcset="IMG_0635.JPG">
            <source media="(min-width: 465px)" srcset="IMG_0635.JPG"> -->
          </picture>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-6">
          <h3>
            Come on, let me give you a little taste of Taiwan!
          </h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="wrap row">
        <div class="col-xs6 col-sm-12 col-lg-6">
          <picture>
            <img src="/static/img/mountain_town.jpg" style="width:100%;">
            <!-- <source media="(min-width: 650px)" srcset="IMG_0642.JPG">
            <source media="(min-width: 465px)" srcset="IMG_0642.JPG"> -->
          </picture>
        </div>
        <div class="col-xs-6 col-sm-12 col-lg-6">
          <h3>
            Here's a look at life in a tiny mountain village.
          </h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="wrap row flipped">
        <div class="col-xs-6 col-sm-12 col-lg-6">
          <picture>
          <img src="/static/img/boar.jpg" style="width:100%;">
            <!-- <source media="(min-width: 650px)" srcset="17201208_10203269697860900_8502158779720950636_n.JPG">
            <source media="(min-width: 465px)" srcset="17201208_10203269697860900_8502158779720950636_n.jpg"> -->
          </picture>
        </div>
        <div class="col-xs-6 col-sm-12 col-lg-6">
          <h3>
            This guy's a member of one of Taiwan's aboriginal tribes. He's cooking up some boar sausage, yum!
          </h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="wrap row">
        <div class="col-xs6 col-sm-12 col-lg-6">
          <picture>
            <img src="/static/img/cannon.jpg" style="width:100%;">
            <!-- <source media="(min-width: 650px)" srcset="IMG_0642.JPG">
            <source media="(min-width: 465px)" srcset="IMG_0642.JPG"> -->
          </picture>
        </div>
        <div class="col-xs-6 col-sm-12 col-lg-6">
          <h3>
            Here's a canon left behind from the days when Japan occupied Taiwan. This little island
            has a lot of history with foreign occupation.
          </h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="wrap row">
        <div class="col-xs6 col-sm-12 col-lg-6">
          <picture>
            <img src="/static/img/ESL.jpg" style="width:100%;">
            <!-- <source media="(min-width: 650px)" srcset="IMG_0642.JPG">
            <source media="(min-width: 465px)" srcset="IMG_0642.JPG"> -->
          </picture>
        </div>
        <div class="col-xs-6 col-sm-12 col-lg-6">
          <h3>
            The people are the real reason I love traveling. Here are some of my ESL students in Taiwan.
          </h3>
        </div>
      </div>
    </div>
    {% endblock %}
